@charset "UTF-8";

/*******************************************************************************    
 * myssite.css
 * 
 * myssite에서 사용되는 공통 css 파일
 * 
 * 이 파일은 myssite의 레이아웃, 헤더, 네비게이션, 푸터, 사이드바 등
 * 공통 스타일을 정의합니다.
 * 
 * 주의: 이 파일은 reset.css 이후에 로드되어야 합니다.
 *********************************************************************************/   


body {
    font-family: 
        'Malgun Gothic', '맑은 고딕', 
        'Segoe UI', 'Helvetica Neue'; 
    font-weight: normal;
    font-size: 12px;
    line-height: 1.2;
    background-color: #fff;
    color: #000000;
}

/* 레이아웃 **********************************************************************/
.wrap{
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
}

.wrap header{
    padding: 20px 0px 10px 0px;
    border-bottom: 1px solid #A6A6A6;
}

.wrap nav{
    border-bottom: 1px solid #A6A6A6;
}

/* 가로1단-메인페이지 */
.wrap .content{
    padding: 40px 20px 70px 20px;
}

/* 가로2단-서브페이지 */
.wrap .content2{
    padding: 20px 0px 40px 0px;
}

.wrap .content2 aside{
    float: left;
    width: 160px;
    margin-right: 20px;
}

.wrap .content2 main{
    float: left;
    width: 820px;
}

.wrap footer{
    padding: 20px 0px 20px 0px;
    background-color: #DDDDDD;
}
/* //레이아웃 **********************************************************************/


/* header 상세 ********************************************************************/
header h1{
    float: left;
    color: #005cc8;
    /* color: #79B30B; */
    font-size: 35px;
    font-weight: bold;
}

header ul{
    float: right;
    margin-top: 10px;
}

header ul>li{
    float: left;
    margin: 0px 0px 0px 5px;
}

header ul>li .user-welcome { /* 로그인 후 환영메시지 */
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}

/* //header 상세 ********************************************************************/


/* nav 상세 *************************************************************************/
nav ul {
    padding: 15px 0px 15px 0px;
}
nav ul>li{
    float: left;
    width: 250px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
/* //nav 상세 ***********************************************************************/


/* aside 상세 ***********************************************************************/
aside h2{
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    font-weight: bold;
    background-color: #DDDDDD;
    text-align: center;
}

aside ul>li{
    padding: 10px 10px 10px 10px;
    margin: 5px 0px 0px 0px; 
    font-size: 15px;
    border: 1px solid #A6A6A6;
}
/* //aside 상세 *********************************************************************/


/* main 상세*************************************************************************/
main{
    width: 100%;
}

main .main-head{
    margin-bottom: 15px;
    padding: 20px 0px 10px 0px;
    border-bottom: 1px solid #A6A6A6;
}

main .main-head h3{
    float: left;
    font-size: 20px;
    font-weight: bold;
}
main .main-head ol {
    float: right;
    margin-top: 7px;
}

main .main-head ol>li{
    float: left;
}

main .main-head ol>li::after{
    content: ">";
    padding: 0px 3px 0px 3px;
}

main .main-head ol>li:last-child::after{
    content: "";
    padding: 0px 0px 0px 0px;
}
/* //main 상세**********************************************************************/


/* footer 상세**********************************************************************/
footer p{
    text-align: center;
}
/* //footer 상세********************************************************************/



/* 버튼 공통 ************************************************************/
/* 기본버튼-이것만 쓰면안됨 색, 사이즈 선택해함 */
.btn {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    border: 1px solid #A6A6A6;
    border-radius: 2px;

}

/* 버튼색 *********/
/* 흰색버튼 */
.btn-white {
    background-color: #ffffff;
    color: #070202;
    border: 1px solid #A6A6A6;
}

.btn-white:hover {
    background-color: #f0f0f0;
    color: #000;
    border: 1px solid #A6A6A6;
}


/* 파란버튼(메인기능) */
.btn-blue {
    background-color: #005cc8;
    color: #fff;
    border: 1px solid #005cc8;
}

.btn-blue:hover {
    background-color: #003e8a;
    color: #fff;
    border: 1px solid #003e8a;
}

/* 회색버튼 */
.btn-gray {
    background-color: #E5E5E5;
    color: #222;
    border: 1px solid #A6A6A6;
}
.btn-gray:hover {
    background-color: #c7c7c7;
    color: #222;
    border: 1px solid #9e9e9e;
}


/* 버튼크기 *********/
.btn-sm {      /* 로그인 회원가입등*/
    min-width: 50px;
    padding: 5px 5px 5px 5px;
    font-size: 10px;
    vertical-align: middle;
}

.btn-input {      /* input 옆의 버튼*/
    min-width: 60px;
    padding: 7px 5px 7px 5px;
    font-size: 12px;
    vertical-align: middle;
}

.btn-md {
    min-width: 80px;
    padding: 10px 5px 10px 5px;
    font-size: 14px;
    vertical-align: middle;
}

.btn-lg {
    width: 260px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    vertical-align: middle;
}